name: My_first_workflow
on: [push]
jobs:
  first_job:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: step1
        uses: actions/checkout@v3
      - name: step2
        run: echo "Hey yall"
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: python -m pip install --upgrade pip
      - run: pip install -r requirements.txt
      - run: echo "$GITHUB_WORKSPACE"
      - run: flake8 . --count
      - run: coverage run -m pytest
      - run: coverage report
